<!-- TOP NAV -->
<header id="topNav" ng-controller="NavbarCtrl">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo scrollTo" ng-click="scrollTo('wrapper')">
            <img src="../../assets/images/logo.png" alt="Atropos" />
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                        <a ng-click="scrollTo(item.link)">{{item.title}}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /Top Nav -->

    </div>
</header>

<span id="header_shadow"></span>
<!-- /TOP NAV -->
